@charset "utf-8";
/* CSS Document */

.video{
	background-color: black;
	width: 360px;
	height: 180px;
}

.tvSet {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
	width: 900px;
	height: 700px;	
}


